@using AutomateDot.Components.Error
@inherits LayoutComponentBase

<div class="app min-h-screen bg-base-200/50">

    <ErrorBoundary>
        <ChildContent>

            <AppTopNav />

            <main class="md:max-w-5xl mx-auto md:py-4">
                @Body
            </main>

            <AppBottomNav />

        </ChildContent>
        <ErrorContent>
            <Error />
        </ErrorContent>
    </ErrorBoundary>

</div>
