@using System.ComponentModel

<div class="navbar bg-base-100 sticky top-0 z-50">
    <div class="navbar-start">

    </div>
    <div class="navbar-center hidden md:flex">
        <a href="/" class="btn btn-ghost text-xl"> <img alt="AutomateDot logo" class="w-6" style="color: transparent;" src="/logo.png">AutomateDot</a>
    </div>
    <div class="navbar-end">
@*         <button type="button" class="btn btn-ghost btn-sm md:btn-md" @onclick="GoToNotifications">
            <IndicatorSvg HasNotifications="hasNotifications" />
        </button> *@
    </div>
</div>
