@using AutomateDot.Configurations
@inherits ActionFormBase<SlackWebhookConfiguration>
@attribute [AutomateDefinition("c044ad57-a4a0-497a-ace8-821e9f239806", "Slack Webhook")]

<EditText @bind-Value="ActionConfiguration.Url" Caption="Url" />

<div class="join join-vertical w-full">
    <EditTextArea @bind-Value="ActionConfiguration.Message" Caption="Message Content" />
    <PayloadFieldSelectInput PayloadFields="GetPayloadFields()" @bind-Message="@ActionConfiguration.Message" />
</div>