@using AutomateDot.Configurations
@inherits ActionFormBase<GotifyConfiguration>
@attribute [AutomateDefinition("79bd42e3-525a-48e1-a610-33fbd565687e", "Gotify")]

<EditText @bind-Value="ActionConfiguration.Url" Caption="Url" />
<div class="join join-vertical w-full">
    <EditText @bind-Value="ActionConfiguration.Title" Caption="Title" />
    <PayloadFieldSelectInput PayloadFields="GetPayloadFields()" @bind-Message="@ActionConfiguration.Title"></PayloadFieldSelectInput>
</div>
<div class="join join-vertical w-full">
    <EditTextArea @bind-Value="ActionConfiguration.Message" Caption="Message" />
    <PayloadFieldSelectInput PayloadFields="GetPayloadFields()" @bind-Message="@ActionConfiguration.Message"></PayloadFieldSelectInput>
</div>

<EditNumber @bind-Value="ActionConfiguration.Priority" Caption="Priority" />
