@using AutomateDot.Components.Automation.Actions
@using AutomateDot.Configurations
@inherits ActionFormBase<SendWebhookConfiguration>
@attribute [AutomateDefinition("4098768e-0c9d-4f36-a823-88d4adad8e55", "Send Webhook")]

<EditText @bind-Value="ActionConfiguration.Url" Caption="Url" />
<div class="join join-vertical w-full">
    <EditTextArea @bind-Value="ActionConfiguration.Message" Caption="Message" />
    <PayloadFieldSelectInput PayloadFields="GetPayloadFields()" @bind-Message="@ActionConfiguration.Message"></PayloadFieldSelectInput>
</div>