@if (IsLoading)
{
    <div class="flex items-center justify-center py-2">
        <span class="loading loading-ring loading-xs"></span>
        <span class="loading loading-ring loading-sm"></span>
        <span class="loading loading-ring loading-md"></span>
        <span class="loading loading-ring loading-lg"></span>
        <span class="loading loading-ring loading-xl"></span>
    </div>
}
else
{
    @ChildContent
}
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool IsLoading { get; set; }
}
